
body { 
    font-family: Arial;
    margin : 5px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color : blue;
    background-color: antiquewhite;
    padding : 15px;
    border: 3px solid blue;
    text-align: center;
}
